--
-- PostgreSQL database dump
--

\restrict 8n9s3GLou9YI7Lz6U6O5hdULrfNaLlRF1zomQ1vo9vRwWbxif9lYqtieAGgi9JP

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.produk DROP CONSTRAINT produk_personil_id_fkey;
ALTER TABLE ONLY public.pengabdian DROP CONSTRAINT pengabdian_personil_id_fkey;
ALTER TABLE ONLY public.penelitian DROP CONSTRAINT penelitian_mahasiswa_id_fkey;
ALTER TABLE ONLY public.hasil_penelitian DROP CONSTRAINT hasil_penelitian_personil_id_fkey;
ALTER TABLE ONLY public.mahasiswa DROP CONSTRAINT fk_mahasiswa_approved_by;
ALTER TABLE ONLY public.artikel DROP CONSTRAINT fk_artikel_personil;
ALTER TABLE ONLY public.activity_logs DROP CONSTRAINT fk_activity_personil;
DROP TRIGGER update_users_updated_at ON public.users;
DROP INDEX public.mv_dashboard_statistics_expr_idx;
DROP INDEX public.idx_users_username;
DROP INDEX public.idx_users_role;
DROP INDEX public.idx_users_reference;
DROP INDEX public.idx_users_email;
DROP INDEX public.idx_recruitment_settings_is_open;
DROP INDEX public.idx_produk_tahun;
DROP INDEX public.idx_produk_personil_id;
DROP INDEX public.idx_produk_kategori;
DROP INDEX public.idx_personil_email;
DROP INDEX public.idx_pengabdian_tanggal;
DROP INDEX public.idx_pengabdian_personil_id;
DROP INDEX public.idx_penelitian_tahun;
DROP INDEX public.idx_penelitian_personil_id;
DROP INDEX public.idx_penelitian_mahasiswa;
DROP INDEX public.idx_mv_yearly_research_tahun_kategori;
DROP INDEX public.idx_mv_recent_activities_type;
DROP INDEX public.idx_mv_recent_activities_date;
DROP INDEX public.idx_mv_popular_content_type;
DROP INDEX public.idx_mv_popular_content_score;
DROP INDEX public.idx_mv_personil_contributions_id;
DROP INDEX public.idx_mahasiswa_status;
DROP INDEX public.idx_mahasiswa_approved_by;
DROP INDEX public.idx_artikel_personil;
DROP INDEX public.idx_admin_users_updated_at;
DROP INDEX public.idx_admin_users_foto;
DROP INDEX public.idx_activity_logs_target;
DROP INDEX public.idx_activity_logs_personil;
DROP INDEX public.idx_activity_logs_created_at;
DROP INDEX public.idx_activity_logs_action_type;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_username_key;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_pkey;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_email_key;
ALTER TABLE ONLY public.recruitment_settings DROP CONSTRAINT recruitment_settings_pkey;
ALTER TABLE ONLY public.produk DROP CONSTRAINT produk_pkey;
ALTER TABLE ONLY public.personil DROP CONSTRAINT personil_pkey;
ALTER TABLE ONLY public.pengabdian DROP CONSTRAINT pengabdian_pkey;
ALTER TABLE ONLY public.penelitian DROP CONSTRAINT penelitian_pkey;
ALTER TABLE ONLY public.mahasiswa DROP CONSTRAINT mahasiswa_pkey;
ALTER TABLE ONLY public.landing_page_content DROP CONSTRAINT landing_page_content_section_name_key_name_key;
ALTER TABLE ONLY public.landing_page_content DROP CONSTRAINT landing_page_content_pkey;
ALTER TABLE ONLY public.lab_profile DROP CONSTRAINT lab_profile_pkey;
ALTER TABLE ONLY public.hasil_penelitian DROP CONSTRAINT hasil_penelitian_pkey;
ALTER TABLE ONLY public.artikel DROP CONSTRAINT artikel_pkey;
ALTER TABLE ONLY public.admin_users DROP CONSTRAINT admin_users_username_key;
ALTER TABLE ONLY public.admin_users DROP CONSTRAINT admin_users_pkey;
ALTER TABLE ONLY public.admin_users DROP CONSTRAINT admin_users_email_key;
ALTER TABLE ONLY public.activity_logs DROP CONSTRAINT activity_logs_pkey;
ALTER TABLE public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.recruitment_settings ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.produk ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.personil ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.pengabdian ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.penelitian ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.mahasiswa ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.landing_page_content ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.lab_profile ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.hasil_penelitian ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.artikel ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.admin_users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.activity_logs ALTER COLUMN id DROP DEFAULT;
DROP VIEW public.view_lab_profile_summary;
DROP SEQUENCE public.users_id_seq;
DROP TABLE public.users;
DROP SEQUENCE public.recruitment_settings_id_seq;
DROP TABLE public.recruitment_settings;
DROP SEQUENCE public.produk_id_seq;
DROP SEQUENCE public.personil_id_seq;
DROP SEQUENCE public.pengabdian_id_seq;
DROP SEQUENCE public.penelitian_id_seq;
DROP TABLE public.penelitian;
DROP MATERIALIZED VIEW public.mv_yearly_research_summary;
DROP MATERIALIZED VIEW public.mv_recent_activities;
DROP MATERIALIZED VIEW public.mv_popular_content;
DROP MATERIALIZED VIEW public.mv_personil_contributions;
DROP MATERIALIZED VIEW public.mv_dashboard_statistics;
DROP TABLE public.produk;
DROP TABLE public.personil;
DROP TABLE public.pengabdian;
DROP SEQUENCE public.mahasiswa_id_seq;
DROP TABLE public.mahasiswa;
DROP SEQUENCE public.landing_page_content_id_seq;
DROP TABLE public.landing_page_content;
DROP SEQUENCE public.lab_profile_id_seq;
DROP TABLE public.lab_profile;
DROP SEQUENCE public.hasil_penelitian_id_seq;
DROP TABLE public.hasil_penelitian;
DROP SEQUENCE public.artikel_id_seq;
DROP TABLE public.artikel;
DROP SEQUENCE public.admin_users_id_seq;
DROP TABLE public.admin_users;
DROP SEQUENCE public.activity_logs_id_seq;
DROP TABLE public.activity_logs;
DROP FUNCTION public.update_updated_at_column();
DROP FUNCTION public.sp_update_article(p_id integer, p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying);
DROP FUNCTION public.sp_search_content(p_keyword character varying, p_limit integer);
DROP PROCEDURE public.sp_register_mahasiswa(IN p_nama character varying, IN p_nim character varying, IN p_jurusan character varying, IN p_email character varying, IN p_password character varying, IN p_alasan text);
DROP FUNCTION public.sp_get_personil_detail(p_personil_id integer);
DROP FUNCTION public.sp_get_dashboard_stats();
DROP FUNCTION public.sp_delete_article(p_id integer);
DROP FUNCTION public.sp_create_produk(p_nama_produk character varying, p_deskripsi text, p_kategori character varying, p_tahun integer, p_teknologi text, p_gambar character varying, p_link_demo text, p_link_repository text, p_personil_id integer);
DROP FUNCTION public.sp_create_pengabdian(p_judul character varying, p_deskripsi text, p_tanggal date, p_lokasi character varying, p_penyelenggara character varying, p_gambar character varying, p_personil_id integer);
DROP FUNCTION public.sp_create_penelitian(p_judul character varying, p_deskripsi text, p_tahun integer, p_kategori character varying, p_abstrak text, p_gambar character varying, p_file_pdf character varying, p_link_publikasi text, p_personil_id integer);
DROP FUNCTION public.sp_create_article(p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying);
DROP FUNCTION public.sp_bulk_delete(p_table_name character varying, p_ids integer[]);
DROP PROCEDURE public.sp_approve_mahasiswa(IN p_mahasiswa_id integer, IN p_admin_id integer, IN p_dosen_id integer);
DROP FUNCTION public.get_student_statistics(student_id integer);
DROP FUNCTION public.fn_sanitize_input(input_text text);
DROP FUNCTION public.fn_refresh_all_materialized_views();
DROP FUNCTION public.fn_get_latest_activities(p_personil_id integer, p_limit integer);
DROP FUNCTION public.fn_calculate_personil_score(p_personil_id integer);
DROP FUNCTION public.approve_student_research(research_id integer, reviewer_id integer);
--
-- Name: approve_student_research(integer, integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.approve_student_research(research_id integer, reviewer_id integer) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Update status penelitian
    UPDATE penelitian 
    SET status = 'approved', 
        updated_at = NOW()
    WHERE id = research_id;
    
    -- Bisa ditambahkan logika lain di sini, misal insert ke tabel log notifikasi
    -- Untuk saat ini kita raise notice saja
    RAISE NOTICE 'Research ID % approved by Reviewer ID %', research_id, reviewer_id;
END;
$$;


ALTER FUNCTION public.approve_student_research(research_id integer, reviewer_id integer) OWNER TO "user";

--
-- Name: fn_calculate_personil_score(integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.fn_calculate_personil_score(p_personil_id integer) RETURNS integer
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
    v_score INTEGER := 0;
    v_penelitian INTEGER;
    v_pengabdian INTEGER;
    v_produk INTEGER;
BEGIN
    -- Count contributions
    SELECT COUNT(*) INTO v_penelitian FROM hasil_penelitian WHERE personil_id = p_personil_id;
    SELECT COUNT(*) INTO v_pengabdian FROM pengabdian WHERE personil_id = p_personil_id;
    SELECT COUNT(*) INTO v_produk FROM produk WHERE personil_id = p_personil_id;
    
    -- Calculate weighted score
    v_score := (v_penelitian * 3) + (v_pengabdian * 2) + (v_produk * 2);
    
    RETURN v_score;
END;
$$;


ALTER FUNCTION public.fn_calculate_personil_score(p_personil_id integer) OWNER TO "user";

--
-- Name: FUNCTION fn_calculate_personil_score(p_personil_id integer); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.fn_calculate_personil_score(p_personil_id integer) IS 'Hitung score kontribusi personil (penelitian=3, pengabdian=2, produk=2)';


--
-- Name: fn_get_latest_activities(integer, integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.fn_get_latest_activities(p_personil_id integer, p_limit integer DEFAULT 10) RETURNS TABLE(activity_type character varying, item_id integer, title character varying, created_at timestamp without time zone)
    LANGUAGE plpgsql STABLE
    AS $$
BEGIN
    RETURN QUERY
    (
        SELECT 
            'penelitian'::VARCHAR,
            id::INTEGER,
            judul::VARCHAR,
            hasil_penelitian.created_at
        FROM hasil_penelitian
        WHERE personil_id = p_personil_id
    )
    UNION ALL
    (
        SELECT 
            'pengabdian'::VARCHAR,
            id::INTEGER,
            judul::VARCHAR,
            pengabdian.created_at
        FROM pengabdian
        WHERE personil_id = p_personil_id
    )
    UNION ALL
    (
        SELECT 
            'produk'::VARCHAR,
            id::INTEGER,
            nama_produk::VARCHAR,
            produk.created_at
        FROM produk
        WHERE personil_id = p_personil_id
    )
    ORDER BY created_at DESC
    LIMIT p_limit;
END;
$$;


ALTER FUNCTION public.fn_get_latest_activities(p_personil_id integer, p_limit integer) OWNER TO "user";

--
-- Name: FUNCTION fn_get_latest_activities(p_personil_id integer, p_limit integer); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.fn_get_latest_activities(p_personil_id integer, p_limit integer) IS 'Get aktivitas terbaru untuk satu personil';


--
-- Name: fn_refresh_all_materialized_views(); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.fn_refresh_all_materialized_views() RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_start_time TIMESTAMP;
    v_end_time TIMESTAMP;
    v_duration INTERVAL;
BEGIN
    v_start_time := clock_timestamp();
    
    -- Refresh all materialized views
    REFRESH MATERIALIZED VIEW CONCURRENTLY mv_dashboard_statistics;
    REFRESH MATERIALIZED VIEW CONCURRENTLY mv_personil_contributions;
    REFRESH MATERIALIZED VIEW mv_recent_activities;
    REFRESH MATERIALIZED VIEW CONCURRENTLY mv_yearly_research_summary;
    REFRESH MATERIALIZED VIEW mv_popular_content;
    
    v_end_time := clock_timestamp();
    v_duration := v_end_time - v_start_time;
    
    RETURN format('All materialized views refreshed successfully in %s', v_duration);
END;
$$;


ALTER FUNCTION public.fn_refresh_all_materialized_views() OWNER TO "user";

--
-- Name: FUNCTION fn_refresh_all_materialized_views(); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.fn_refresh_all_materialized_views() IS 'Refresh semua materialized views sekaligus';


--
-- Name: fn_sanitize_input(text); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.fn_sanitize_input(input_text text) RETURNS text
    LANGUAGE plpgsql IMMUTABLE
    AS $$
BEGIN
    -- Remove dangerous characters
    RETURN regexp_replace(input_text, '[;<>''"]', '', 'g');
END;
$$;


ALTER FUNCTION public.fn_sanitize_input(input_text text) OWNER TO "user";

--
-- Name: FUNCTION fn_sanitize_input(input_text text); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.fn_sanitize_input(input_text text) IS 'Sanitasi input untuk keamanan dasar';


--
-- Name: get_student_statistics(integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.get_student_statistics(student_id integer) RETURNS TABLE(total_submissions bigint, approved_submissions bigint, pending_submissions bigint)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        COUNT(*) as total,
        COUNT(*) FILTER (WHERE status = 'approved') as approved,
        COUNT(*) FILTER (WHERE status = 'pending') as pending
    FROM penelitian
    WHERE mahasiswa_id = student_id;
END;
$$;


ALTER FUNCTION public.get_student_statistics(student_id integer) OWNER TO "user";

--
-- Name: sp_approve_mahasiswa(integer, integer, integer); Type: PROCEDURE; Schema: public; Owner: user
--

CREATE PROCEDURE public.sp_approve_mahasiswa(IN p_mahasiswa_id integer, IN p_admin_id integer, IN p_dosen_id integer)
    LANGUAGE plpgsql
    AS $$



BEGIN



    UPDATE public.mahasiswa



    SET status_approval = 'approved', approved_by = p_admin_id, dosen_pembimbing_id = p_dosen_id



    WHERE id = p_mahasiswa_id;







    UPDATE public.users SET is_active = true



    WHERE reference_id = p_mahasiswa_id AND role = 'mahasiswa';



    COMMIT;



END;$$;


ALTER PROCEDURE public.sp_approve_mahasiswa(IN p_mahasiswa_id integer, IN p_admin_id integer, IN p_dosen_id integer) OWNER TO "user";

--
-- Name: sp_bulk_delete(character varying, integer[]); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_bulk_delete(p_table_name character varying, p_ids integer[]) RETURNS integer
    LANGUAGE plpgsql
    AS $_$
DECLARE
    v_deleted_count INTEGER := 0;
    v_query TEXT;
BEGIN
    -- Validasi table name (whitelist)
    IF p_table_name NOT IN ('artikel', 'hasil_penelitian', 'pengabdian', 'produk') THEN
        RAISE EXCEPTION 'Invalid table name: %', p_table_name;
    END IF;
    
    -- Build and execute dynamic query
    v_query := format('DELETE FROM %I WHERE id = ANY($1)', p_table_name);
    EXECUTE v_query USING p_ids;
    
    GET DIAGNOSTICS v_deleted_count = ROW_COUNT;
    
    RETURN v_deleted_count;
END;
$_$;


ALTER FUNCTION public.sp_bulk_delete(p_table_name character varying, p_ids integer[]) OWNER TO "user";

--
-- Name: FUNCTION sp_bulk_delete(p_table_name character varying, p_ids integer[]); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.sp_bulk_delete(p_table_name character varying, p_ids integer[]) IS 'Bulk delete dengan transaction safety (artikel, penelitian, pengabdian, produk)';


--
-- Name: sp_create_article(character varying, text, character varying, character varying); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_create_article(p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying DEFAULT NULL::character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_new_id INTEGER;
BEGIN
    -- Validasi input
    IF p_judul IS NULL OR trim(p_judul) = '' THEN
        RAISE EXCEPTION 'Judul artikel tidak boleh kosong';
    END IF;
    
    IF p_isi IS NULL OR trim(p_isi) = '' THEN
        RAISE EXCEPTION 'Isi artikel tidak boleh kosong';
    END IF;
    
    -- Insert artikel
    INSERT INTO artikel (judul, isi, penulis, gambar, created_at)
    VALUES (p_judul, p_isi, p_penulis, p_gambar, NOW())
    RETURNING id INTO v_new_id;
    
    RETURN v_new_id;
END;
$$;


ALTER FUNCTION public.sp_create_article(p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying) OWNER TO "user";

--
-- Name: FUNCTION sp_create_article(p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.sp_create_article(p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying) IS 'Insert artikel baru dengan validasi';


--
-- Name: sp_create_penelitian(character varying, text, integer, character varying, text, character varying, character varying, text, integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_create_penelitian(p_judul character varying, p_deskripsi text, p_tahun integer, p_kategori character varying, p_abstrak text, p_gambar character varying, p_file_pdf character varying, p_link_publikasi text, p_personil_id integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE v_new_id INTEGER;

BEGIN

    INSERT INTO hasil_penelitian (judul, deskripsi, tahun, kategori, abstrak, gambar, file_pdf, link_publikasi, personil_id, created_at, updated_at)

    VALUES (p_judul, p_deskripsi, p_tahun, p_kategori, p_abstrak, p_gambar, p_file_pdf, p_link_publikasi, p_personil_id, NOW(), NOW())

    RETURNING id INTO v_new_id;

    RETURN v_new_id;

END;$$;


ALTER FUNCTION public.sp_create_penelitian(p_judul character varying, p_deskripsi text, p_tahun integer, p_kategori character varying, p_abstrak text, p_gambar character varying, p_file_pdf character varying, p_link_publikasi text, p_personil_id integer) OWNER TO "user";

--
-- Name: sp_create_pengabdian(character varying, text, date, character varying, character varying, character varying, integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_create_pengabdian(p_judul character varying, p_deskripsi text, p_tanggal date, p_lokasi character varying, p_penyelenggara character varying, p_gambar character varying, p_personil_id integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE v_new_id INTEGER;

BEGIN

    INSERT INTO pengabdian (judul, deskripsi, tanggal, lokasi, penyelenggara, gambar, personil_id, created_at, updated_at)

    VALUES (p_judul, p_deskripsi, p_tanggal, p_lokasi, p_penyelenggara, p_gambar, p_personil_id, NOW(), NOW())

    RETURNING id INTO v_new_id;

    RETURN v_new_id;

END;$$;


ALTER FUNCTION public.sp_create_pengabdian(p_judul character varying, p_deskripsi text, p_tanggal date, p_lokasi character varying, p_penyelenggara character varying, p_gambar character varying, p_personil_id integer) OWNER TO "user";

--
-- Name: sp_create_produk(character varying, text, character varying, integer, text, character varying, text, text, integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_create_produk(p_nama_produk character varying, p_deskripsi text, p_kategori character varying, p_tahun integer, p_teknologi text, p_gambar character varying, p_link_demo text, p_link_repository text, p_personil_id integer) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE v_new_id INTEGER;

BEGIN

    INSERT INTO produk (nama_produk, deskripsi, kategori, tahun, teknologi, gambar, link_demo, link_repository, personil_id, created_at, updated_at)

    VALUES (p_nama_produk, p_deskripsi, p_kategori, p_tahun, p_teknologi, p_gambar, p_link_demo, p_link_repository, p_personil_id, NOW(), NOW())

    RETURNING id INTO v_new_id;

    RETURN v_new_id;

END;$$;


ALTER FUNCTION public.sp_create_produk(p_nama_produk character varying, p_deskripsi text, p_kategori character varying, p_tahun integer, p_teknologi text, p_gambar character varying, p_link_demo text, p_link_repository text, p_personil_id integer) OWNER TO "user";

--
-- Name: sp_delete_article(integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_delete_article(p_id integer) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_exists BOOLEAN;
BEGIN
    -- Check if article exists
    SELECT EXISTS(SELECT 1 FROM artikel WHERE id = p_id) INTO v_exists;
    
    IF NOT v_exists THEN
        RAISE EXCEPTION 'Artikel dengan ID % tidak ditemukan', p_id;
    END IF;
    
    -- Delete artikel
    DELETE FROM artikel WHERE id = p_id;
    
    RETURN TRUE;
END;
$$;


ALTER FUNCTION public.sp_delete_article(p_id integer) OWNER TO "user";

--
-- Name: FUNCTION sp_delete_article(p_id integer); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.sp_delete_article(p_id integer) IS 'Hapus artikel dengan validasi';


--
-- Name: sp_get_dashboard_stats(); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_get_dashboard_stats() RETURNS TABLE(stats_json json)
    LANGUAGE plpgsql STABLE
    AS $$
BEGIN
    RETURN QUERY
    SELECT json_build_object(
        'total_personil', (SELECT COUNT(*) FROM personil),
        'total_mahasiswa', (SELECT COUNT(*) FROM mahasiswa),
        'total_artikel', (SELECT COUNT(*) FROM artikel),
        'total_penelitian', (SELECT COUNT(*) FROM hasil_penelitian),
        'total_pengabdian', (SELECT COUNT(*) FROM pengabdian),
        'total_produk', (SELECT COUNT(*) FROM produk),
        'penelitian_tahun_ini', (SELECT COUNT(*) FROM hasil_penelitian WHERE tahun = EXTRACT(YEAR FROM CURRENT_DATE)),
        'produk_tahun_ini', (SELECT COUNT(*) FROM produk WHERE tahun = EXTRACT(YEAR FROM CURRENT_DATE)),
        'top_contributor', (
            SELECT json_build_object('nama', nama, 'score', contribution_score)
            FROM mv_personil_contributions
            ORDER BY contribution_score DESC
            LIMIT 1
        ),
        'last_update', NOW()
    ) as stats_json;
END;
$$;


ALTER FUNCTION public.sp_get_dashboard_stats() OWNER TO "user";

--
-- Name: FUNCTION sp_get_dashboard_stats(); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.sp_get_dashboard_stats() IS 'Get statistik dashboard dalam format JSON (menggunakan materialized view)';


--
-- Name: sp_get_personil_detail(integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_get_personil_detail(p_personil_id integer) RETURNS TABLE(personil_info json, penelitian_list json, pengabdian_list json, produk_list json, statistics json)
    LANGUAGE plpgsql STABLE
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        -- Personil Info
        row_to_json(p.*) as personil_info,
        
        -- Penelitian List
        (SELECT json_agg(row_to_json(hp.*)) 
         FROM hasil_penelitian hp 
         WHERE hp.personil_id = p_personil_id) as penelitian_list,
        
        -- Pengabdian List
        (SELECT json_agg(row_to_json(pg.*)) 
         FROM pengabdian pg 
         WHERE pg.personil_id = p_personil_id) as pengabdian_list,
        
        -- Produk List
        (SELECT json_agg(row_to_json(pr.*)) 
         FROM produk pr 
         WHERE pr.personil_id = p_personil_id) as produk_list,
        
        -- Statistics
        json_build_object(
            'total_penelitian', (SELECT COUNT(*) FROM hasil_penelitian WHERE personil_id = p_personil_id),
            'total_pengabdian', (SELECT COUNT(*) FROM pengabdian WHERE personil_id = p_personil_id),
            'total_produk', (SELECT COUNT(*) FROM produk WHERE personil_id = p_personil_id),
            'contribution_score', fn_calculate_personil_score(p_personil_id)
        ) as statistics
    FROM personil p
    WHERE p.id = p_personil_id;
END;
$$;


ALTER FUNCTION public.sp_get_personil_detail(p_personil_id integer) OWNER TO "user";

--
-- Name: FUNCTION sp_get_personil_detail(p_personil_id integer); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.sp_get_personil_detail(p_personil_id integer) IS 'Get detail lengkap personil dengan semua kontribusi dalam format JSON';


--
-- Name: sp_register_mahasiswa(character varying, character varying, character varying, character varying, character varying, text); Type: PROCEDURE; Schema: public; Owner: user
--

CREATE PROCEDURE public.sp_register_mahasiswa(IN p_nama character varying, IN p_nim character varying, IN p_jurusan character varying, IN p_email character varying, IN p_password character varying, IN p_alasan text)
    LANGUAGE plpgsql
    AS $$

DECLARE v_mahasiswa_id INT;

BEGIN

    INSERT INTO public.mahasiswa (nama, nim, jurusan, email, alasan, status_approval)

    VALUES (p_nama, p_nim, p_jurusan, p_email, p_alasan, 'pending')

    RETURNING id INTO v_mahasiswa_id;



    INSERT INTO public.users (username, email, password, role, reference_id, is_active)

    VALUES (p_nim, p_email, p_password, 'mahasiswa', v_mahasiswa_id, false); 

    COMMIT;

END;$$;


ALTER PROCEDURE public.sp_register_mahasiswa(IN p_nama character varying, IN p_nim character varying, IN p_jurusan character varying, IN p_email character varying, IN p_password character varying, IN p_alasan text) OWNER TO "user";

--
-- Name: sp_search_content(character varying, integer); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_search_content(p_keyword character varying, p_limit integer DEFAULT 20) RETURNS TABLE(content_type character varying, item_id integer, title character varying, description text, created_at timestamp without time zone, relevance numeric)
    LANGUAGE plpgsql STABLE
    AS $$
BEGIN
    RETURN QUERY
    (
        SELECT 
            'artikel'::VARCHAR as content_type,
            id::INTEGER,
            judul::VARCHAR as title,
            LEFT(isi, 200)::TEXT as description,
            artikel.created_at,
            1.0::NUMERIC as relevance
        FROM artikel
        WHERE judul ILIKE '%' || p_keyword || '%' 
           OR isi ILIKE '%' || p_keyword || '%'
           OR penulis ILIKE '%' || p_keyword || '%'
    )
    UNION ALL
    (
        SELECT 
            'penelitian'::VARCHAR,
            id::INTEGER,
            judul::VARCHAR,
            LEFT(deskripsi, 200)::TEXT,
            hasil_penelitian.created_at,
            1.0::NUMERIC
        FROM hasil_penelitian
        WHERE judul ILIKE '%' || p_keyword || '%' 
           OR deskripsi ILIKE '%' || p_keyword || '%'
           OR abstrak ILIKE '%' || p_keyword || '%'
    )
    UNION ALL
    (
        SELECT 
            'pengabdian'::VARCHAR,
            id::INTEGER,
            judul::VARCHAR,
            LEFT(deskripsi, 200)::TEXT,
            pengabdian.created_at,
            1.0::NUMERIC
        FROM pengabdian
        WHERE judul ILIKE '%' || p_keyword || '%' 
           OR deskripsi ILIKE '%' || p_keyword || '%'
           OR lokasi ILIKE '%' || p_keyword || '%'
    )
    UNION ALL
    (
        SELECT 
            'produk'::VARCHAR,
            id::INTEGER,
            nama_produk::VARCHAR,
            LEFT(deskripsi, 200)::TEXT,
            produk.created_at,
            1.0::NUMERIC
        FROM produk
        WHERE nama_produk ILIKE '%' || p_keyword || '%' 
           OR deskripsi ILIKE '%' || p_keyword || '%'
           OR teknologi ILIKE '%' || p_keyword || '%'
    )
    ORDER BY created_at DESC
    LIMIT p_limit;
END;
$$;


ALTER FUNCTION public.sp_search_content(p_keyword character varying, p_limit integer) OWNER TO "user";

--
-- Name: FUNCTION sp_search_content(p_keyword character varying, p_limit integer); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.sp_search_content(p_keyword character varying, p_limit integer) IS 'Search konten di semua tabel (artikel, penelitian, pengabdian, produk)';


--
-- Name: sp_update_article(integer, character varying, text, character varying, character varying); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.sp_update_article(p_id integer, p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying DEFAULT NULL::character varying) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_exists BOOLEAN;
BEGIN
    -- Check if article exists
    SELECT EXISTS(SELECT 1 FROM artikel WHERE id = p_id) INTO v_exists;
    
    IF NOT v_exists THEN
        RAISE EXCEPTION 'Artikel dengan ID % tidak ditemukan', p_id;
    END IF;
    
    -- Update artikel
    UPDATE artikel
    SET judul = p_judul,
        isi = p_isi,
        penulis = p_penulis,
        gambar = COALESCE(p_gambar, gambar)
    WHERE id = p_id;
    
    RETURN TRUE;
END;
$$;


ALTER FUNCTION public.sp_update_article(p_id integer, p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying) OWNER TO "user";

--
-- Name: FUNCTION sp_update_article(p_id integer, p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying); Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON FUNCTION public.sp_update_article(p_id integer, p_judul character varying, p_isi text, p_penulis character varying, p_gambar character varying) IS 'Update artikel dengan validasi';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.activity_logs (
    id integer NOT NULL,
    personil_id integer NOT NULL,
    personil_nama character varying(255) NOT NULL,
    action_type character varying(100) NOT NULL,
    action_description text NOT NULL,
    target_type character varying(50),
    target_id integer,
    ip_address character varying(45),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.activity_logs OWNER TO "user";

--
-- Name: TABLE activity_logs; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON TABLE public.activity_logs IS 'Tabel untuk menyimpan riwayat aktivitas personil';


--
-- Name: COLUMN activity_logs.action_type; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.activity_logs.action_type IS 'Tipe aktivitas: LOGIN, LOGOUT, CREATE_ARTICLE, EDIT_ARTICLE, DELETE_ARTICLE, dll';


--
-- Name: COLUMN activity_logs.action_description; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.activity_logs.action_description IS 'Deskripsi detail aktivitas dalam bahasa Indonesia';


--
-- Name: COLUMN activity_logs.target_type; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.activity_logs.target_type IS 'Jenis target: artikel, penelitian, pengabdian, produk, profile';


--
-- Name: COLUMN activity_logs.target_id; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.activity_logs.target_id IS 'ID dari target yang dimanipulasi';


--
-- Name: COLUMN activity_logs.ip_address; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.activity_logs.ip_address IS 'IP address saat aktivitas dilakukan';


--
-- Name: activity_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.activity_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_logs_id_seq OWNER TO "user";

--
-- Name: activity_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.activity_logs_id_seq OWNED BY public.activity_logs.id;


--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    nama_lengkap character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    foto character varying(255),
    updated_at timestamp without time zone
);


ALTER TABLE public.admin_users OWNER TO "user";

--
-- Name: COLUMN admin_users.foto; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.admin_users.foto IS 'Filename of admin profile photo';


--
-- Name: COLUMN admin_users.updated_at; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.admin_users.updated_at IS 'Last profile update timestamp';


--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_users_id_seq OWNER TO "user";

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: artikel; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.artikel (
    id integer NOT NULL,
    judul character varying(255) NOT NULL,
    isi text NOT NULL,
    penulis character varying(255) NOT NULL,
    gambar character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    personil_id integer
);


ALTER TABLE public.artikel OWNER TO "user";

--
-- Name: artikel_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.artikel_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.artikel_id_seq OWNER TO "user";

--
-- Name: artikel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.artikel_id_seq OWNED BY public.artikel.id;


--
-- Name: hasil_penelitian; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.hasil_penelitian (
    id integer NOT NULL,
    judul character varying(255) NOT NULL,
    deskripsi text NOT NULL,
    tahun integer NOT NULL,
    kategori character varying(100),
    abstrak text,
    gambar character varying(255),
    file_pdf character varying(255),
    link_publikasi text,
    personil_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.hasil_penelitian OWNER TO "user";

--
-- Name: hasil_penelitian_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.hasil_penelitian_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hasil_penelitian_id_seq OWNER TO "user";

--
-- Name: hasil_penelitian_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.hasil_penelitian_id_seq OWNED BY public.hasil_penelitian.id;


--
-- Name: lab_profile; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.lab_profile (
    id integer NOT NULL,
    judul character varying(255) NOT NULL,
    konten text NOT NULL,
    kategori character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lab_profile OWNER TO "user";

--
-- Name: lab_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.lab_profile_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lab_profile_id_seq OWNER TO "user";

--
-- Name: lab_profile_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.lab_profile_id_seq OWNED BY public.lab_profile.id;


--
-- Name: landing_page_content; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.landing_page_content (
    id integer NOT NULL,
    section_name character varying(50) NOT NULL,
    key_name character varying(50) NOT NULL,
    content_value text,
    content_type character varying(20) DEFAULT 'text'::character varying,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.landing_page_content OWNER TO "user";

--
-- Name: TABLE landing_page_content; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON TABLE public.landing_page_content IS 'Stores landing page content including hero section image';


--
-- Name: landing_page_content_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.landing_page_content_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.landing_page_content_id_seq OWNER TO "user";

--
-- Name: landing_page_content_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.landing_page_content_id_seq OWNED BY public.landing_page_content.id;


--
-- Name: mahasiswa; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.mahasiswa (
    id integer NOT NULL,
    nama character varying(255) NOT NULL,
    nim character varying(50) NOT NULL,
    jurusan character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    alasan text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status_approval character varying(20) DEFAULT 'pending'::character varying,
    approved_by integer,
    approved_at timestamp without time zone,
    rejection_reason text
);


ALTER TABLE public.mahasiswa OWNER TO "user";

--
-- Name: COLUMN mahasiswa.status_approval; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.mahasiswa.status_approval IS 'Status persetujuan: pending, approved, rejected';


--
-- Name: COLUMN mahasiswa.approved_by; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.mahasiswa.approved_by IS 'ID admin yang menyetujui/menolak';


--
-- Name: COLUMN mahasiswa.approved_at; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.mahasiswa.approved_at IS 'Waktu persetujuan/penolakan';


--
-- Name: COLUMN mahasiswa.rejection_reason; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.mahasiswa.rejection_reason IS 'Alasan penolakan (jika ditolak)';


--
-- Name: mahasiswa_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.mahasiswa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mahasiswa_id_seq OWNER TO "user";

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.mahasiswa_id_seq OWNED BY public.mahasiswa.id;


--
-- Name: pengabdian; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.pengabdian (
    id integer NOT NULL,
    judul character varying(255) NOT NULL,
    deskripsi text NOT NULL,
    tanggal date NOT NULL,
    lokasi character varying(255) NOT NULL,
    penyelenggara character varying(255) NOT NULL,
    gambar character varying(255),
    personil_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pengabdian OWNER TO "user";

--
-- Name: personil; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.personil (
    id integer NOT NULL,
    nama character varying(255) NOT NULL,
    jabatan character varying(100) NOT NULL,
    deskripsi text,
    foto character varying(255),
    email character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    password character varying(255),
    is_member boolean DEFAULT false,
    last_login timestamp without time zone
);


ALTER TABLE public.personil OWNER TO "user";

--
-- Name: produk; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.produk (
    id integer NOT NULL,
    nama_produk character varying(255) NOT NULL,
    deskripsi text NOT NULL,
    kategori character varying(100),
    tahun integer NOT NULL,
    gambar character varying(255),
    link_demo text,
    link_repository text,
    teknologi text,
    personil_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.produk OWNER TO "user";

--
-- Name: mv_dashboard_statistics; Type: MATERIALIZED VIEW; Schema: public; Owner: user
--

CREATE MATERIALIZED VIEW public.mv_dashboard_statistics AS
 SELECT ( SELECT count(*) AS count
           FROM public.personil) AS total_personil,
    ( SELECT count(*) AS count
           FROM public.mahasiswa) AS total_mahasiswa,
    ( SELECT count(*) AS count
           FROM public.artikel) AS total_artikel,
    ( SELECT count(*) AS count
           FROM public.hasil_penelitian) AS total_penelitian,
    ( SELECT count(*) AS count
           FROM public.pengabdian) AS total_pengabdian,
    ( SELECT count(*) AS count
           FROM public.produk) AS total_produk,
    ( SELECT count(*) AS count
           FROM public.admin_users) AS total_admin,
    ( SELECT count(*) AS count
           FROM public.activity_logs) AS total_activities,
    ( SELECT max(artikel.created_at) AS max
           FROM public.artikel) AS last_artikel_date,
    ( SELECT max(hasil_penelitian.created_at) AS max
           FROM public.hasil_penelitian) AS last_penelitian_date,
    ( SELECT max(pengabdian.created_at) AS max
           FROM public.pengabdian) AS last_pengabdian_date,
    ( SELECT max(produk.created_at) AS max
           FROM public.produk) AS last_produk_date,
    ( SELECT count(*) AS count
           FROM public.hasil_penelitian
          WHERE ((hasil_penelitian.tahun)::numeric = EXTRACT(year FROM CURRENT_DATE))) AS penelitian_tahun_ini,
    ( SELECT count(*) AS count
           FROM public.produk
          WHERE ((produk.tahun)::numeric = EXTRACT(year FROM CURRENT_DATE))) AS produk_tahun_ini,
    now() AS last_refresh_at
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.mv_dashboard_statistics OWNER TO "user";

--
-- Name: MATERIALIZED VIEW mv_dashboard_statistics; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON MATERIALIZED VIEW public.mv_dashboard_statistics IS 'Statistik dashboard untuk performa tinggi';


--
-- Name: mv_personil_contributions; Type: MATERIALIZED VIEW; Schema: public; Owner: user
--

CREATE MATERIALIZED VIEW public.mv_personil_contributions AS
 SELECT p.id AS personil_id,
    p.nama,
    p.jabatan,
    p.email,
    COALESCE(count(DISTINCT hp.id), (0)::bigint) AS total_penelitian,
    COALESCE(count(DISTINCT pg.id), (0)::bigint) AS total_pengabdian,
    COALESCE(count(DISTINCT pr.id), (0)::bigint) AS total_produk,
    (((COALESCE(count(DISTINCT hp.id), (0)::bigint) * 3) + (COALESCE(count(DISTINCT pg.id), (0)::bigint) * 2)) + (COALESCE(count(DISTINCT pr.id), (0)::bigint) * 2)) AS contribution_score,
    max(GREATEST(COALESCE(hp.created_at, '1970-01-01 00:00:00'::timestamp without time zone), COALESCE(pg.created_at, '1970-01-01 00:00:00'::timestamp without time zone), COALESCE(pr.created_at, '1970-01-01 00:00:00'::timestamp without time zone))) AS last_contribution_date,
    now() AS last_refresh_at
   FROM (((public.personil p
     LEFT JOIN public.hasil_penelitian hp ON ((p.id = hp.personil_id)))
     LEFT JOIN public.pengabdian pg ON ((p.id = pg.personil_id)))
     LEFT JOIN public.produk pr ON ((p.id = pr.personil_id)))
  GROUP BY p.id, p.nama, p.jabatan, p.email
  ORDER BY (((COALESCE(count(DISTINCT hp.id), (0)::bigint) * 3) + (COALESCE(count(DISTINCT pg.id), (0)::bigint) * 2)) + (COALESCE(count(DISTINCT pr.id), (0)::bigint) * 2)) DESC
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.mv_personil_contributions OWNER TO "user";

--
-- Name: MATERIALIZED VIEW mv_personil_contributions; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON MATERIALIZED VIEW public.mv_personil_contributions IS 'Kontribusi dan ranking personil berdasarkan penelitian, pengabdian, dan produk';


--
-- Name: mv_popular_content; Type: MATERIALIZED VIEW; Schema: public; Owner: user
--

CREATE MATERIALIZED VIEW public.mv_popular_content AS
( SELECT 'artikel'::text AS content_type,
    artikel.id,
    artikel.judul AS title,
    artikel.penulis AS creator,
    artikel.created_at,
    (EXTRACT(epoch FROM (now() - (artikel.created_at)::timestamp with time zone)) / (86400)::numeric) AS age_days,
    ((100)::numeric - LEAST((100)::numeric, (EXTRACT(epoch FROM (now() - (artikel.created_at)::timestamp with time zone)) / (86400)::numeric))) AS popularity_score
   FROM public.artikel
  ORDER BY artikel.created_at DESC
 LIMIT 10)
UNION ALL
( SELECT 'penelitian'::text AS content_type,
    hp.id,
    hp.judul AS title,
    p.nama AS creator,
    hp.created_at,
    (EXTRACT(epoch FROM (now() - (hp.created_at)::timestamp with time zone)) / (86400)::numeric) AS age_days,
    ((100)::numeric - LEAST((100)::numeric, (EXTRACT(epoch FROM (now() - (hp.created_at)::timestamp with time zone)) / (86400)::numeric))) AS popularity_score
   FROM (public.hasil_penelitian hp
     LEFT JOIN public.personil p ON ((hp.personil_id = p.id)))
  ORDER BY hp.created_at DESC
 LIMIT 10)
UNION ALL
( SELECT 'pengabdian'::text AS content_type,
    pg.id,
    pg.judul AS title,
    p.nama AS creator,
    pg.created_at,
    (EXTRACT(epoch FROM (now() - (pg.created_at)::timestamp with time zone)) / (86400)::numeric) AS age_days,
    ((100)::numeric - LEAST((100)::numeric, (EXTRACT(epoch FROM (now() - (pg.created_at)::timestamp with time zone)) / (86400)::numeric))) AS popularity_score
   FROM (public.pengabdian pg
     LEFT JOIN public.personil p ON ((pg.personil_id = p.id)))
  ORDER BY pg.created_at DESC
 LIMIT 10)
  ORDER BY 7 DESC
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.mv_popular_content OWNER TO "user";

--
-- Name: MATERIALIZED VIEW mv_popular_content; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON MATERIALIZED VIEW public.mv_popular_content IS 'Top 30 konten populer (10 dari setiap kategori)';


--
-- Name: mv_recent_activities; Type: MATERIALIZED VIEW; Schema: public; Owner: user
--

CREATE MATERIALIZED VIEW public.mv_recent_activities AS
 SELECT 'artikel'::text AS activity_type,
    artikel.id AS item_id,
    artikel.judul AS title,
    artikel.penulis AS author,
    NULL::character varying AS location,
    artikel.created_at,
    artikel.created_at AS activity_date
   FROM public.artikel
UNION ALL
 SELECT 'penelitian'::text AS activity_type,
    hp.id AS item_id,
    hp.judul AS title,
    p.nama AS author,
    hp.kategori AS location,
    hp.created_at,
    hp.created_at AS activity_date
   FROM (public.hasil_penelitian hp
     LEFT JOIN public.personil p ON ((hp.personil_id = p.id)))
UNION ALL
 SELECT 'pengabdian'::text AS activity_type,
    pg.id AS item_id,
    pg.judul AS title,
    p.nama AS author,
    pg.lokasi AS location,
    pg.created_at,
    pg.tanggal AS activity_date
   FROM (public.pengabdian pg
     LEFT JOIN public.personil p ON ((pg.personil_id = p.id)))
UNION ALL
 SELECT 'produk'::text AS activity_type,
    pr.id AS item_id,
    pr.nama_produk AS title,
    p.nama AS author,
    pr.kategori AS location,
    pr.created_at,
    pr.created_at AS activity_date
   FROM (public.produk pr
     LEFT JOIN public.personil p ON ((pr.personil_id = p.id)))
UNION ALL
 SELECT 'mahasiswa'::text AS activity_type,
    mahasiswa.id AS item_id,
    mahasiswa.nama AS title,
    mahasiswa.nim AS author,
    mahasiswa.jurusan AS location,
    mahasiswa.created_at,
    mahasiswa.created_at AS activity_date
   FROM public.mahasiswa
  ORDER BY 6 DESC
 LIMIT 100
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.mv_recent_activities OWNER TO "user";

--
-- Name: MATERIALIZED VIEW mv_recent_activities; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON MATERIALIZED VIEW public.mv_recent_activities IS '100 aktivitas terbaru dari semua modul untuk timeline dashboard';


--
-- Name: mv_yearly_research_summary; Type: MATERIALIZED VIEW; Schema: public; Owner: user
--

CREATE MATERIALIZED VIEW public.mv_yearly_research_summary AS
 SELECT tahun,
    kategori,
    count(*) AS total_penelitian,
    count(*) FILTER (WHERE (link_publikasi IS NOT NULL)) AS total_terpublikasi,
    count(*) FILTER (WHERE (file_pdf IS NOT NULL)) AS total_dengan_pdf,
    array_agg(judul ORDER BY created_at DESC) AS daftar_judul,
    min(created_at) AS first_created,
    max(created_at) AS last_created,
    now() AS last_refresh_at
   FROM public.hasil_penelitian
  GROUP BY tahun, kategori
  ORDER BY tahun DESC, kategori
  WITH NO DATA;


ALTER MATERIALIZED VIEW public.mv_yearly_research_summary OWNER TO "user";

--
-- Name: MATERIALIZED VIEW mv_yearly_research_summary; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON MATERIALIZED VIEW public.mv_yearly_research_summary IS 'Ringkasan statistik penelitian per tahun dan kategori';


--
-- Name: penelitian; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.penelitian (
    id integer NOT NULL,
    mahasiswa_id integer NOT NULL,
    judul character varying(255) NOT NULL,
    file_path character varying(255),
    link_drive text,
    keterangan text,
    status character varying(50) DEFAULT 'submitted'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.penelitian OWNER TO "user";

--
-- Name: penelitian_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.penelitian_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.penelitian_id_seq OWNER TO "user";

--
-- Name: penelitian_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.penelitian_id_seq OWNED BY public.penelitian.id;


--
-- Name: pengabdian_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.pengabdian_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pengabdian_id_seq OWNER TO "user";

--
-- Name: pengabdian_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.pengabdian_id_seq OWNED BY public.pengabdian.id;


--
-- Name: personil_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.personil_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personil_id_seq OWNER TO "user";

--
-- Name: personil_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.personil_id_seq OWNED BY public.personil.id;


--
-- Name: produk_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.produk_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.produk_id_seq OWNER TO "user";

--
-- Name: produk_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.produk_id_seq OWNED BY public.produk.id;


--
-- Name: recruitment_settings; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.recruitment_settings (
    id integer NOT NULL,
    is_open boolean DEFAULT true NOT NULL,
    message text DEFAULT 'Maaf, Lab SE sedang tidak membuka recruitment saat ini. Silakan cek kembali nanti.'::text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by character varying(255) DEFAULT 'System'::character varying
);


ALTER TABLE public.recruitment_settings OWNER TO "user";

--
-- Name: TABLE recruitment_settings; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON TABLE public.recruitment_settings IS 'Tabel untuk mengatur status recruitment (buka/tutup) dan pesan custom';


--
-- Name: COLUMN recruitment_settings.is_open; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.recruitment_settings.is_open IS 'Status recruitment: TRUE = buka, FALSE = tutup';


--
-- Name: COLUMN recruitment_settings.message; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.recruitment_settings.message IS 'Pesan yang ditampilkan ketika recruitment ditutup';


--
-- Name: COLUMN recruitment_settings.updated_at; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.recruitment_settings.updated_at IS 'Waktu terakhir update setting';


--
-- Name: COLUMN recruitment_settings.updated_by; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.recruitment_settings.updated_by IS 'Admin yang melakukan update terakhir';


--
-- Name: recruitment_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.recruitment_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recruitment_settings_id_seq OWNER TO "user";

--
-- Name: recruitment_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.recruitment_settings_id_seq OWNED BY public.recruitment_settings.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    reference_id integer NOT NULL,
    is_active boolean DEFAULT true,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY (ARRAY[('admin'::character varying)::text, ('personil'::character varying)::text, ('mahasiswa'::character varying)::text])))
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON TABLE public.users IS 'Tabel pusat autentikasi untuk semua pengguna sistem';


--
-- Name: COLUMN users.role; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.users.role IS 'Role pengguna: admin, personil, atau mahasiswa';


--
-- Name: COLUMN users.reference_id; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.users.reference_id IS 'ID referensi ke tabel asli sesuai role';


--
-- Name: COLUMN users.is_active; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.users.is_active IS 'Status aktif user, untuk soft delete';


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: view_lab_profile_summary; Type: VIEW; Schema: public; Owner: user
--

CREATE VIEW public.view_lab_profile_summary AS
 SELECT kategori,
    count(*) AS total_item,
    max(updated_at) AS last_update
   FROM public.lab_profile
  GROUP BY kategori;


ALTER VIEW public.view_lab_profile_summary OWNER TO "user";

--
-- Name: activity_logs id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.activity_logs ALTER COLUMN id SET DEFAULT nextval('public.activity_logs_id_seq'::regclass);


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: artikel id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.artikel ALTER COLUMN id SET DEFAULT nextval('public.artikel_id_seq'::regclass);


--
-- Name: hasil_penelitian id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.hasil_penelitian ALTER COLUMN id SET DEFAULT nextval('public.hasil_penelitian_id_seq'::regclass);


--
-- Name: lab_profile id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.lab_profile ALTER COLUMN id SET DEFAULT nextval('public.lab_profile_id_seq'::regclass);


--
-- Name: landing_page_content id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.landing_page_content ALTER COLUMN id SET DEFAULT nextval('public.landing_page_content_id_seq'::regclass);


--
-- Name: mahasiswa id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.mahasiswa ALTER COLUMN id SET DEFAULT nextval('public.mahasiswa_id_seq'::regclass);


--
-- Name: penelitian id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.penelitian ALTER COLUMN id SET DEFAULT nextval('public.penelitian_id_seq'::regclass);


--
-- Name: pengabdian id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.pengabdian ALTER COLUMN id SET DEFAULT nextval('public.pengabdian_id_seq'::regclass);


--
-- Name: personil id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.personil ALTER COLUMN id SET DEFAULT nextval('public.personil_id_seq'::regclass);


--
-- Name: produk id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.produk ALTER COLUMN id SET DEFAULT nextval('public.produk_id_seq'::regclass);


--
-- Name: recruitment_settings id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.recruitment_settings ALTER COLUMN id SET DEFAULT nextval('public.recruitment_settings_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.activity_logs (id, personil_id, personil_nama, action_type, action_description, target_type, target_id, ip_address, created_at) FROM stdin;
1	3	Budi Santoso, Ph.D	LOGIN	Login ke dashboard	\N	\N	::1	2025-12-03 05:32:35.039678
2	3	Budi Santoso, Ph.D	CREATE_PRODUK	Membuat produk baru: E-Learning Platform	produk	7	::1	2025-12-03 05:32:53.126394
3	3	Budi Santoso, Ph.D	LOGOUT	Logout dari dashboard	\N	\N	::1	2025-12-03 05:32:56.560282
\.


--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.admin_users (id, username, password, nama_lengkap, email, last_login, created_at, foto, updated_at) FROM stdin;
3	admin	$2y$10$ZYD8x/o3NotqN0I5O0xFKef9HUtMEGl3gvHCGTULcZtNkkqLxO0Rq	Administrator	admin@labse.ac.id	2025-11-13 09:41:27.86994	2025-11-03 11:08:02.875079	\N	2025-12-02 19:07:05.817146
\.


--
-- Data for Name: artikel; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: hasil_penelitian; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.hasil_penelitian (id, judul, deskripsi, tahun, kategori, abstrak, gambar, file_pdf, link_publikasi, personil_id, created_at, updated_at) FROM stdin;
1	Misi	ahsgugasvfhdgasghdafhsgd	2025	Pengembangan	ajghvsdjvajshvdahsdaj	penelitian_692c288e23fd4.png	penelitian_692c288e25981.pdf		3	2025-11-30 18:20:46.165322	2025-12-01 11:07:45.14932
\.


--
-- Data for Name: lab_profile; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: landing_page_content; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: mahasiswa; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: penelitian; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.penelitian (id, mahasiswa_id, judul, file_path, link_drive, keterangan, status, created_at, updated_at) FROM stdin;
1	8	Penerapan Design Patterns dalam Pengembangan Aplikasi Enterprise	penelitian_8_1763984959.png			approved	2025-11-24 18:49:19.922924	2025-11-24 18:49:19.922924
\.


--
-- Data for Name: pengabdian; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: personil; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: produk; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: recruitment_settings; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.recruitment_settings (id, is_open, message, updated_at, updated_by) FROM stdin;
1	f	Maaf, Lab SE sedang tidak membuka recruitment saat ini. Silakan cek kembali nanti.	2025-12-03 09:41:01.634259	Administrator
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Name: activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.activity_logs_id_seq', 3, true);


--
-- Name: admin_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.admin_users_id_seq', 11, true);


--
-- Name: artikel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.artikel_id_seq', 10, true);


--
-- Name: hasil_penelitian_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.hasil_penelitian_id_seq', 6, true);


--
-- Name: lab_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.lab_profile_id_seq', 23, true);


--
-- Name: landing_page_content_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.landing_page_content_id_seq', 24, true);


--
-- Name: mahasiswa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.mahasiswa_id_seq', 13, true);


--
-- Name: penelitian_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.penelitian_id_seq', 1, true);


--
-- Name: pengabdian_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.pengabdian_id_seq', 4, true);


--
-- Name: personil_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.personil_id_seq', 6, true);


--
-- Name: produk_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.produk_id_seq', 8, true);


--
-- Name: recruitment_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.recruitment_settings_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_id_seq', 14, true);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key UNIQUE (email);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_username_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_username_key UNIQUE (username);


--
-- Name: artikel artikel_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.artikel
    ADD CONSTRAINT artikel_pkey PRIMARY KEY (id);


--
-- Name: hasil_penelitian hasil_penelitian_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.hasil_penelitian
    ADD CONSTRAINT hasil_penelitian_pkey PRIMARY KEY (id);


--
-- Name: lab_profile lab_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.lab_profile
    ADD CONSTRAINT lab_profile_pkey PRIMARY KEY (id);


--
-- Name: landing_page_content landing_page_content_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.landing_page_content
    ADD CONSTRAINT landing_page_content_pkey PRIMARY KEY (id);


--
-- Name: landing_page_content landing_page_content_section_name_key_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.landing_page_content
    ADD CONSTRAINT landing_page_content_section_name_key_name_key UNIQUE (section_name, key_name);


--
-- Name: mahasiswa mahasiswa_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_pkey PRIMARY KEY (id);


--
-- Name: penelitian penelitian_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.penelitian
    ADD CONSTRAINT penelitian_pkey PRIMARY KEY (id);


--
-- Name: pengabdian pengabdian_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.pengabdian
    ADD CONSTRAINT pengabdian_pkey PRIMARY KEY (id);


--
-- Name: personil personil_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.personil
    ADD CONSTRAINT personil_pkey PRIMARY KEY (id);


--
-- Name: produk produk_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.produk
    ADD CONSTRAINT produk_pkey PRIMARY KEY (id);


--
-- Name: recruitment_settings recruitment_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.recruitment_settings
    ADD CONSTRAINT recruitment_settings_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_activity_logs_action_type; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_activity_logs_action_type ON public.activity_logs USING btree (action_type);


--
-- Name: idx_activity_logs_created_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_activity_logs_created_at ON public.activity_logs USING btree (created_at DESC);


--
-- Name: idx_activity_logs_personil; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_activity_logs_personil ON public.activity_logs USING btree (personil_id);


--
-- Name: idx_activity_logs_target; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_activity_logs_target ON public.activity_logs USING btree (target_type, target_id);


--
-- Name: idx_admin_users_foto; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_admin_users_foto ON public.admin_users USING btree (foto);


--
-- Name: idx_admin_users_updated_at; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_admin_users_updated_at ON public.admin_users USING btree (updated_at);


--
-- Name: idx_artikel_personil; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_artikel_personil ON public.artikel USING btree (personil_id);


--
-- Name: idx_mahasiswa_approved_by; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_mahasiswa_approved_by ON public.mahasiswa USING btree (approved_by);


--
-- Name: idx_mahasiswa_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_mahasiswa_status ON public.mahasiswa USING btree (status_approval);


--
-- Name: idx_mv_personil_contributions_id; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX idx_mv_personil_contributions_id ON public.mv_personil_contributions USING btree (personil_id);


--
-- Name: idx_mv_popular_content_score; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_mv_popular_content_score ON public.mv_popular_content USING btree (popularity_score DESC);


--
-- Name: idx_mv_popular_content_type; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_mv_popular_content_type ON public.mv_popular_content USING btree (content_type);


--
-- Name: idx_mv_recent_activities_date; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_mv_recent_activities_date ON public.mv_recent_activities USING btree (created_at DESC);


--
-- Name: idx_mv_recent_activities_type; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_mv_recent_activities_type ON public.mv_recent_activities USING btree (activity_type);


--
-- Name: idx_mv_yearly_research_tahun_kategori; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX idx_mv_yearly_research_tahun_kategori ON public.mv_yearly_research_summary USING btree (tahun, kategori);


--
-- Name: idx_penelitian_mahasiswa; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_penelitian_mahasiswa ON public.penelitian USING btree (mahasiswa_id);


--
-- Name: idx_penelitian_personil_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_penelitian_personil_id ON public.hasil_penelitian USING btree (personil_id);


--
-- Name: idx_penelitian_tahun; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_penelitian_tahun ON public.hasil_penelitian USING btree (tahun);


--
-- Name: idx_pengabdian_personil_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_pengabdian_personil_id ON public.pengabdian USING btree (personil_id);


--
-- Name: idx_pengabdian_tanggal; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_pengabdian_tanggal ON public.pengabdian USING btree (tanggal);


--
-- Name: idx_personil_email; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_personil_email ON public.personil USING btree (email);


--
-- Name: idx_produk_kategori; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_produk_kategori ON public.produk USING btree (kategori);


--
-- Name: idx_produk_personil_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_produk_personil_id ON public.produk USING btree (personil_id);


--
-- Name: idx_produk_tahun; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_produk_tahun ON public.produk USING btree (tahun);


--
-- Name: idx_recruitment_settings_is_open; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_recruitment_settings_is_open ON public.recruitment_settings USING btree (is_open);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_reference; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_users_reference ON public.users USING btree (role, reference_id);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: mv_dashboard_statistics_expr_idx; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX mv_dashboard_statistics_expr_idx ON public.mv_dashboard_statistics USING btree ((1));


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: user
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: activity_logs fk_activity_personil; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk_activity_personil FOREIGN KEY (personil_id) REFERENCES public.personil(id) ON DELETE CASCADE;


--
-- Name: artikel fk_artikel_personil; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.artikel
    ADD CONSTRAINT fk_artikel_personil FOREIGN KEY (personil_id) REFERENCES public.personil(id) ON DELETE SET NULL;


--
-- Name: mahasiswa fk_mahasiswa_approved_by; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT fk_mahasiswa_approved_by FOREIGN KEY (approved_by) REFERENCES public.admin_users(id) ON DELETE SET NULL;


--
-- Name: hasil_penelitian hasil_penelitian_personil_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.hasil_penelitian
    ADD CONSTRAINT hasil_penelitian_personil_id_fkey FOREIGN KEY (personil_id) REFERENCES public.personil(id);


--
-- Name: penelitian penelitian_mahasiswa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.penelitian
    ADD CONSTRAINT penelitian_mahasiswa_id_fkey FOREIGN KEY (mahasiswa_id) REFERENCES public.mahasiswa(id);


--
-- Name: pengabdian pengabdian_personil_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.pengabdian
    ADD CONSTRAINT pengabdian_personil_id_fkey FOREIGN KEY (personil_id) REFERENCES public.personil(id);


--
-- Name: produk produk_personil_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.produk
    ADD CONSTRAINT produk_personil_id_fkey FOREIGN KEY (personil_id) REFERENCES public.personil(id) ON DELETE CASCADE;


--
-- Name: mv_dashboard_statistics; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: user
--

REFRESH MATERIALIZED VIEW public.mv_dashboard_statistics;


--
-- Name: mv_personil_contributions; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: user
--

REFRESH MATERIALIZED VIEW public.mv_personil_contributions;


--
-- Name: mv_popular_content; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: user
--

REFRESH MATERIALIZED VIEW public.mv_popular_content;


--
-- Name: mv_recent_activities; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: user
--

REFRESH MATERIALIZED VIEW public.mv_recent_activities;


--
-- Name: mv_yearly_research_summary; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: user
--

REFRESH MATERIALIZED VIEW public.mv_yearly_research_summary;


--
-- PostgreSQL database dump complete
--

\unrestrict 8n9s3GLou9YI7Lz6U6O5hdULrfNaLlRF1zomQ1vo9vRwWbxif9lYqtieAGgi9JP

